<div>[[!meta title="Dear Tails user,"]]</div>

[[!meta stylesheet="home" rel="stylesheet" title=""]]
[[!meta stylesheet="hide-donate-banner" rel="stylesheet" title=""]]
[[!meta robots="noindex"]]
[[!meta script="home"]]

<!--
[[!inline pages="home/donate.inline" raw="yes" sort="age"]]
-->

[[!inline pages="home/year-end.inline" raw="yes" sort="age"]]

<div id="tor-check" class="cta">
<a href="https://check.torproject.org/">Tor check</a>
</div>

<div>
[[!inline pages="news" raw="yes" sort="age"]]
</div>
