[[!meta date="Mon, 19 Jan 2013 23:45:00 +0200"]]
[[!pagetemplate template="news.tmpl"]]
[[!meta title="Call for testing: 0.17~rc1"]]

<p>You can help Tails! The <em>first</em> release candidate for the upcoming
version 0.17 is out. Please test it and see if all works for you.</p>

[[!toc levels=1]]

<h1>How to test Tails 0.17~rc1?</h1>

<ol>
  <li>
    <p>
      <strong>Keep in mind that this is a test image.</strong> We have made sure
      that it is not broken in an obvious way, but it might still contain
      undiscovered issues.
    </p>
  </li>
  <li>
    <p>Download the ISO image and its signature:</p>
    <p>
      <a class="download-file"
         href=""
      >Tails 0.17~rc1 ISO image</a>
    </p>
    <p>
      <a class="download-signature"
         href="http://dl.amnesia.boum.org/tails/testing/tails-i386-0.17-rc1/tails-i386-0.17-rc1.iso.pgp"
      >Tails 0.17~rc1 signature</a>
    </p>
  </li>
  <li>
    <p>
      Verify the ISO image.
    </p>
  </li>
  <li>
    <p>
      Have a look at the list of <a href="#known_issues">known issues
      of this release</a> and the list of [[longstanding known
      issues|support/known_issues]].
    </p>
  </li>
  <li>
    <p>
      Test wildly!
    </p>
  </li>
</ol>

<p>If you find anything that is not working as it should, please [[report to
us|doc/first_steps/whisperback]]! Bonus points if you check that it is not a
<a href="#known_issues">known issue of this release</a> or a
[[longstanding known issue|support/known_issues]].</p>

<h1>What's new since 0.16?</h1>

<ul>
  <li>New features
     <ul>
       <li>Install the KeePassX password manager.</li>
     </ul>
  </li>
  <li>Iceweasel
     <ul>
       <li>Ugrade to Iceweasel 17.0.2esr-1+tails2~bpo60+1.</li>
       <li>Install xul-ext-adblock-plus from squeeze-backports.</li>
       <li>Do not allow listing all available fonts.</li>
       <li>Fix default spellchecker.</li>
       <li>Disable the add-ons automatic update feature.</li>
       <li>Remove NoScript click-to-play confirmation.</li>
       <li>Sync some prefs set by Torbutton, to be ready when it stops setting these.</li>
       <li>Disable navigation timing.</li>
       <li>Disable SPDY.</li>
       <li>More aggressive iceweasel HTTP pipelining settings.</li>
       <li>Enable WebGL (as click-to-play only).</li>
       <li>Disable network.http.connection-retry-timeout.</li>
       <li>Disable full path information for plugins.</li>
       <li>Remove NoScript blocks of WebFonts.</li>
       <li>Disable DOM storage in Torbutton.</li>
       <li>Synchronize iceweasel's general.useragent.override with TBB based on FF17.</li>
       <li>Explicitly disable AdBlock Plus "correct typos" feature.</li>
     </ul>
  </li>
  <li>Minor improvements
     <ul>
       <li>Upgrade to live-boot 3.0~b11-1 and live-config 3.0.12-1.</li>
       <li>Check for errors when sourcing live-boot files, e.g. to detect when they have been renamed upstream.</li>
       <li>Avoid doubled "quiet" kernel command-line parameter.</li>
    </ul>
  </li>
  <li>Bugfixes
    <ul>
       <li>Use the regular GnuPG agent + pinentry-gtk2 instead of Seahorse as a GnuPG agent. This fixes usage of OpenPGP in Claws Mail, and brings support for OpenPGP smartcards.</li>
       <li>Enable I2P hidden mode. Else, killing I2P ungracefully is bad for the I2P network.</li>
       <li>live-persist: move error() function before the first potential usecase.</li>
    </ul>
  </li>
  <li>Hardware support
    <ul>
       <li>Install recent Intel and AMD microcode.</li>
       <li>Install firmware loader for Qualcomm Gobi USB chipsets.</li>
       <li>Upgrade barry to 0.18.3-5~bpo60+1.</li>
    </ul>
  </li>
  <li>Build system
    <ul>
       <li>Remove APT local cache.</li>
    </ul>
  </li>
</ul>

<h1><a id="known_issues"></a>Known issues in 0.17~rc1</h1>

<ul>
  <li>
     Disabling DOM storage in the Tails web browser makes is appear slightly
     differently from the alpha Torbrowser (based on Firefox 17). This will be
     fixed in a future version once we [[!tails_ticket 5425 desc="use the same
     DOM storage patches and settings"]] as the Torbrowser.
  </li>
</ul>
